// Colors
$primary-color: #3498db;
$secondary-color: #34495e;

$gray: #eee;
$gray-background: #fbfbfb;

// Sizes
$saved-locations: 60%;

// Typography
$primary-font: Roboto, sans-serif;
$body-font-color: #333;