// Settings
@import "settings";

// Framework
@import "framework/all";

// Partials
@import "partials/typography";
@import "partials/forms";
@import "partials/buttons";

// Components
@import "components/interface";
@import "components/saved-locations";
@import "components/current-location";
@import "components/welcome";
@import "components/preferences";

// Print
@import "partials/print";

html, body {
	width: 100%;
	height: 100%;
	font-family: $primary-font;
	line-height: 1.6em;
	position: fixed;
	top: 0;
	left: 0;
}
#map {
	display: block;
	width: 100%;
	height: 100%;
}

div[ui-view] {
	height: calc(100% - 77px);
	overflow: auto;
	@include clearfix();

	.vertical-center-container {
		display: table;
		width: 100%;
		height: 100%;

		.vertical-center {
			display: table-cell;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			text-align: center;
			padding: 20px 20px 50px;
		}
	}
}

// Extends
.box {
	box-shadow: 0 1px 4px rgba(#000, .25);
	border-radius: 2px;
	border-top: 5px solid $primary-color;
}
.checkbox {
	width: 20px;
	height: 20px;
	border: 3px solid $primary-color;
	border-radius: 2px;
	box-shadow: inset 0 0 0 3px #fff;
}