<!DOCTYPE html>
<html lang="nl" ng-app="parkingMap">
<head>
	<title>ParkingMap</title>
    <base href="/parkingmap/" />
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link href='//fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
	<script src="//maps.google.com/maps/api/js"></script>
	<script src="js/main.min.js"></script>
	
	<!-- Web app -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Journal">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="ParkingMap">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="images/favicon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <meta name="application-name" content="ParkingMap">

    <!-- Splash -->
    <link href="images/splash/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="images/splash/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="images/splash/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <link href="images/splash/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <link href="images/splash/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="images/splash/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="images/splash/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
</head>
<body ng-controller="preferencesController">
	<map id="map" center="[{{settings.latitude}}, {{settings.longitude}}]" zoom="{{settings.zoom}}" disable-default-u-i="true" ng-controller="mapController">
        <marker position="[{{location.latitude}}, {{location.longitude}}]" ng-repeat="location in locations | filter: { showOnMap: true }"></marker>
    </map>

    <div class="interface" ng-class="{active: !$state.is('map')}">
        <header class="header">
            <ul class="tabs">
                <li ui-sref-active="active"><a ui-sref="saved-locations">Opgeslagen locaties</a></li>
                <li ui-sref-active="active"><a ui-sref="current-location">Huidige locatie</a></li>
                <li ui-sref-active="active"><a ui-sref="preferences">Identificatiecode</a></li>
            </ul>
        </header>

        <div ui-view></div>
    </div>
    <div ui-sref="map" class="interface-overlay" title="Terug naar de kaart"></div>

    <div class="welcome">
    	<div class="vertical-center">
            <div class="block">
                <h2>Welkom</h2>
                <p>Dit is ParkingMap, d&eacute; plek om je favoriete (en huidige) parkeerplaatsen op te slaan!</p>
            </div>
        </div>
    </div>
</body>
</html>