.current-location {
	.location-animation {
		display: inline-block;
		width: 100px;
		height: 100px;
		margin: 0;
		position: relative;

		.outer {
			width: 100%;
			height: 100%;
			background-color: $primary-color;
			border-radius: 50%;
			transform: scale(0);
			animation: location 2s infinite cubic-bezier(0.420, 0.000, 0.580, 1.000);
		}
		.inner {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			margin-left: -8px;
			background-color: #fff;
			border-radius: 50%;
			border: 3px solid #fff;
			background-color: $primary-color;
		}
	}
	pre {
		margin-top: 0;
		margin-bottom: 30px;
	}
	h2 { margin-bottom: 10px; }
}

@keyframes location {
	0% {
		opacity: 1;
		transform: scale(0);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}