.interface {
	display: block;
	width: $saved-locations;
	height: calc(85vh);
	position: absolute;
	left: ((100% - $saved-locations) /2);
	top: 100%;
	z-index: 2;
	background-color: #fff;
	transform: translateY(-82px);
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	transition: transform .33s cubic-bezier(0.420, 0.000, 0.580, 1.000); // TODO: Switch to ngAnimate
	@extend .box;

	@include mq('large') {
		width: 80%;
		left: 10%;
	}
	@include mq('medium') {
		width: 100%;
		left: 0;
		height: calc(90vh);
		border-radius: 0;
	}

	&.active { transform: translateY(-100%); }

	.header {
		.tabs {
			float: none;
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-bottom: 1px solid $gray;
			@include clearfix();

			li {
				width: 33.33%;
				float: left;
				
				&:last-child a { border-right: none; }

				a {
					display: block;
					text-decoration: none;
					color: $body-font-color;
					text-align: center;
					padding: 25px 20px 27px;
					border-right: 1px solid $gray;
					transition: all .15s;

					@include mq('small') {
						padding: 10px;
					}

					&:hover {
						border-color: transparent;
						background-color: $primary-color;
						color: #fff;
					}
				}
				&.active a {
					border-color: transparent;
					background-color: $primary-color;
					color: #fff;
					font-weight: bold;
				}
			}
		}
	}
	.fallback {
		padding: 60px 20px;
		text-align: center;

		small {
			display: inline-block;
			line-height: 1.6em;
			color: lighten($body-font-color, 50%);
		}
	}
}
.interface-overlay {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $body-font-color;
	opacity: 0;
	cursor: pointer;
	transition: opacity .5s .2s, top 0s .7s;

	.interface.active + & {
		transition: opacity .5s, top 0s 0s;
		opacity: .75;
		top: 0;
	}
}