.preferences {
	form {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;

		input[type="text"] {
			margin-bottom: 8px;
			background-color: $gray-background;
			border: 1px solid $gray;
			border-radius: 3px;
			text-align: center;
			padding: 12px;
		}
	}
	h2 { margin-bottom: 8px; }
}