.saved-locations {
	margin: 0;
	padding: 0;
	list-style-type: none;
	@include clearfix();

	li {
		width: 50%;
		float: left;

		@include mq('medium') { width: 100%; }

		input[type="checkbox"] {
			display: none;
			&:checked + label .checkbox { background-color: $secondary-color; }
		}
		label {
			display: block;
			border: 1px solid transparent;
			border-right-color: $gray;
			border-bottom-color: $gray;
			padding: 20px 70px 20px 20px;
			cursor: pointer;
			position: relative;

			@include mq('medium') {
				border: none;
				border-bottom: 1px solid $gray;
				padding: 12px 60px 12px 12px;
			}

			h3 {
				margin: 0;

				+ em {
					font-style: normal;
					font-size: 12px;
					text-transform: uppercase;
					color: lighten($body-font-color, 60%);
					position: relative;
					top: -3px;
				}
			}
			.checkbox {
				display: inline-block;
				position: absolute;
				right: 30px;
				top: 50%;
				margin-top: -10px;
				@extend .checkbox;
			}
			.options {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					float: none;
					width: auto;
					display: inline-block;
					margin-right: 10px;

					a {
						color: $body-font-color;

						&:hover { color: $primary-color; }
					}
				}
			}
		}
		&:nth-child(2n+2) label { border-right-color: transparent; }
	}
}
.add-location {
	background-color: $gray-background;
	border-bottom: 1px solid $gray;
	@include clearfix();

	&.active + .saved-locations {
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			z-index: 2;
			opacity: .75;
		}
	}

	p {
		margin: 0;
		padding: 26px 30px;
		color: lighten($body-font-color, 40%);
	}
	form { border-top: 1px solid $gray; }
	.button { margin: 15px; }
}