.welcome {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

	display: none;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #222;
		opacity: .75;
	}

	.vertical-center {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
		position: relative;
		z-index: 1;

		.block {
			display: inline-block;
			width: 100%;
			max-width: 500px;
			background-color: #fff;
			padding: 30px 20px;
			@extend .box;

			> *:first-child { margin-top: 0; }
			> *:last-child { margin-bottom: 0; }

			h2 { margin-bottom: 12px; }
		}
	}

	h2 { margin-bottom: 15px; }
	p { margin-top: 0; }
}