.button, button, input[type="submit"] {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: $primary-color;
	border: none;
	line-height: 1em;
	padding: 15px 18px;
	border-radius: 3px;
	transition: background .15s;

	&:hover, &:focus {
		color: #fff;
		background-color: darken($primary-color, 5%);
	}

	&.secondary {
		background-color: $secondary-color;
		&:hover { background-color: $primary-color; }
	}
}