input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea, select {
	border: none;
	border-bottom: 1px solid $gray;
	background-color: transparent;
	padding: 15px;
	width: 100%;
	outline: none;

	&:last-child { border-bottom: none; }

	label + & { padding-top: 0; }
}
form {
	background-color: #fff;

	label {
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 15px 15px 2px;

		&[for] { cursor: pointer; }
	}

	.row {
		border-bottom: 1px solid $gray;
		&:last-child { border-bottom: none; }

		.columns {
			border-right: 1px solid $gray;
			&:last-child { border-right: none; }

			@include mq('medium') {
				border-right: none;
				border-bottom: 1px solid $gray;

				&:last-child { border-bottom: none; }
			}
		}
	}
	.footer {
		background-color: $gray-background;
		padding: 15px;
		@include clearfix();
	}
}
.custom-checkbox {
	padding: 30px 25px 25px;
	cursor: pointer;

	@include mq('medium') { padding: 20px 15px 20px; }

	.checkbox {
		content: '';
		display: inline-block;
		position: relative;
		top: 2px;
		float: left;
		margin-right: 10px;
		@extend .checkbox;
	}
	input[type="checkbox"] {
		display: none;
		&:checked + .checkbox { background-color: $secondary-color; }
	}
}