.sprite-gps {
	width: 24px;
	height: 24px;
	background-position: 0 0;
}

.sprite-map {
	width: 24px;
	height: 24px;
	background-position: -30px 0;
}

.sprite-settings {
	width: 24px;
	height: 24px;
	background-position: -60px 0;
}

.sprite-gps, .sprite-map, .sprite-settings {
	background-size: 90px 30px;
	background-repeat: no-repeat;
	background-image: url("images/sprites.png");
}

.svg .sprite-gps, .svg .sprite-map, .svg .sprite-settings {
	background-image: url("images/sprites.svg");
}
