<div class="vertical-center-container current-location">
	<div class="vertical-center">
		<div class="location-animation">
			<div class="outer"></div>
			<div class="inner"></div>
		</div>
		<h2>Huidige locatie</h2>
		<pre>Latitude {{location.latitude}}<br>Longitude {{location.longitude}}</pre>
		<a ui-sref="saved-locations.add" class="button">Voeg toe</a>
	</div>
</div>