<div class="vertical-center-container preferences" ng-controller="preferencesController">
	<div class="vertical-center">
		<form ng-submit="updateID(preferences.id)">
			<h2>Identificatiecode</h2>
			<p>Gebruik deze code om je opgeslagen locaties te bekijken op andere devices.</p>
			<input type="text" ng-model="preferences.id">
			<!-- <input type="submit" class="right" value="Aanpassen"> -->
		</form>
	</div>
</div>