<div ng-controller="savedLocationsController">
	<div class="add-location" ng-class="{'active': $state.is('saved-locations.add')}">
		<a ui-sref="saved-locations.add" ng-show="$state.is('saved-locations')" class="button secondary">Voeg toe</a>
		<a ui-sref="saved-locations" ng-show="$state.is('saved-locations.add')" class="button secondary">Annuleren</a>
		<p class="right">Aantal locaties: {{locations.length}}</p>

		<form ng-submit="addLocation()" ng-show="$state.is('saved-locations.add')">
			<div class="row collapsed">
				<div class="large-9 columns">
					<label for="add-title">Titel</label>
					<input type="text" id="add-title" ng-model="addTitle">
				</div>
				<div class="large-3 columns">
					<label class="custom-checkbox">
						<input type="checkbox" ng-model="addShowOnMap" ng-init="addShowOnMap = true" checked> Toon op kaart
						<div class="checkbox"></div>
					</label>
				</div>
			</div>
			<div class="row collapsed">
				<div class="large-6 columns">
					<label>Latitude</label>
					<input type="text" ng-model="location.latitude" readonly>
				</div>
				<div class="large-6 columns">
					<label>Longitude</label>
					<input type="text" ng-model="location.longitude" readonly>
				</div>
			</div>
			<footer class="footer">
				<input type="submit" class="right" value="Toevoegen">
			</footer>
		</form>
	</div>

	<ul class="saved-locations">
	    <li ng-repeat="(index, location) in locations | orderBy:'timestamp':false">
	    	<input id="saved-locations-{{index}}" ng-model="location.showOnMap" type="checkbox">
	    	<label for="saved-locations-{{index}}">
	    		<div class="checkbox" title="Toon op kaart"></div> 
	    		<h3>{{location.title}}</h3>
	    		<em>Lat {{location.latitude}} &nbsp; Long {{location.longitude}}</em>
	    		<ul class="options">
	    			<li><a target="_blank" href="https://www.google.com/maps/dir//{{location.latitude}},{{location.longitude}}">Routebeschrijving</a></li>
	    			<li><a target="_blank" class="new-window" href="https://twitter.com/intent/tweet?text=Ik heb hier geparkeerd!&url=http://maps.google.com/?q={{location.latitude}},{{location.longitude}}&hashtags=ParkingMap">Tweet</a></li>
	    			<li><a href ng-click="removeLocation(index)">Verwijderen</a></li>
	    		</ul>
	    	</label>
	    </li>
	</ul>
	<div class="fallback" ng-hide="locations.length">
		<p>Je hebt nog geen opgeslagen locaties, <br>gebruik de bovenstaande <i>Voeg toe</i>-knop om te beginnen.</p>
		<p><small>Heb je al wel locaties opgeslagen op een ander device? <br>Ga dan naar <i>Voorkeuren</i> om je identificatiecode aan te passen.</small></p>
	</div>
</div>