.flex-video {
	position: relative;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 1rem;
	overflow: hidden;

	&.widescreen { padding-bottom: 56.34%; }

	iframe, object, embed, video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}