// Settings and variables
@import "settings";

// Libraries
@import "lib/normalize";

// Mixins
@import "mixins/mq";
@import "mixins/clearfix";
@import "mixins/hide-text";
@import "mixins/black-or-white";
@import "mixins/webkit-pixelshift-fix";

// Partials
@import "partials/grid";

html {
	box-sizing: border-box;
	*, *:before, *:after { box-sizing: border-box; }
}
body { margin: 0; }

// Float classes
.left { float: left; }
.right { float: right; }